:root {
  --main-font: "Inter", sans-serif;
  --txt-cl: #11002d;
  --white-cl: #ffffff;
  --accent-cl: #5200d9;
  --pink-cl: #f2eaff;
}

body {
  font-family: var(--main-font);
  color: var(--txt-cl);
  background-color: var(--white-cl);
  line-height: 1.62;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}
/* ----------================= MOBILE =================--------------- */
@media screen and (max-width: 767px) {
  /* --------------------- HEADER ---------------------- */

  .header {
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .header-logo {
    font-size: 10px;
    color: var(--white-cl);
  }
  .header-logo span {
    color: var(--white-cl);
  }
  .header-logo-svg {
    position: relative;
    margin-right: 4px;
    z-index: 2;
  }

  .logo-icon {
    position: absolute;
    bottom: -6px;
    left: -10px;
    z-index: -1;

    width: 49px;
    height: 45px;
  }
  .mob-btn-open {
    background-color: transparent;
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .mob-menu.is-open {
    transform: translateX(0);
  }
  .mob-btn-close {
  }

  .mob-list {
  }
  .mob-item {
  }
  .mob-link {
  }
  .mob-btn {
  }

  .header-list {
    display: none;
  }
  .header-btn {
    display: none;
  }
  /* ---------------------- HERO ------------------------- */
  .hero {
    background-image: url(../img/bg_img_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 460px;
    padding-top: 95px;
    padding-bottom: 40px;
  }
  .hero-title {
    font-weight: 800;
    font-size: 16px;
    color: var(--white-cl);
    text-align: center;
    margin-bottom: 8px;
  }
  .hero-subtitle {
    color: var(--white-cl);
    text-align: center;
    margin-bottom: 16px;
  }
  .hero-form {
  }
  .hero-form-wrap {
    background-color: var(--white-cl);
    border-radius: 5px;
    padding: 16px 24px;
    margin-bottom: 24px;
  }
  .hero-form-search {
    display: block;
    margin-bottom: 16px;
  }
  .hero-form-input {
    background-color: var(--pink-cl);
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 28px;
    padding: 8px;
  }
  .hero-form-input::placeholder {
    font-size: 13px;
    line-height: 0.91;
    color: var(--txt-cl);
  }
  .hero-input-wrap {
    background-color: var(--pink-cl);
    border-radius: 5px;
    height: 28px;
    margin-bottom: 16px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-form-date {
    font-weight: 400;
    font-size: 13px;
    color: var(--txt-cl);

    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 359px) {
    .hero-form-date {
      font-size: 10px;
    }
  }
  .hero-form-start {
    border-right: 0.5px solid var(--accent-cl);
  }
  .hero-form-end {
    padding-left: 8px;
  }
  .hero-form-date::-webkit-calendar-picker-indicator {
    order: -1;
    margin-right: 12px;
    color: transparent;
    background: none;
    background-image: url(../img/calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }

  .hero-form-choise {
  }
  .hero-form-choise-list {
    font-weight: 400;
    font-size: 13px;
    color: var(--txt-cl);

    background-color: var(--pink-cl);
    border-radius: 5px;
    width: 100%;
    height: 28px;
    border: none;
    padding: 6px 8px;
  }
  .hero-btn {
    border-radius: 5px;
    padding: 12px 28px;
    min-width: 192px;
    display: block;
    margin: 0 auto;
    background-color: var(--accent-cl);

    font-family: var(--main-font);
    font-weight: 600;
    font-size: 15px;
    line-height: 0.91;
    color: var(--white-cl);
  }

  /* ------------------------ BENEFITS ------------------------------ */

  .benefits {
    padding: 32px 0;
  }

  .benefits-list {
  }
  .benefits-item {
  }
  .benefits-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 0.91;

    margin-bottom: 20px;
  }
  .benefits-text {
    font-weight: 300;

    margin-bottom: 8px;
  }
  .hidden-text-mob {
    display: none;
  }
  .open-text {
    font-weight: 600;
    font-size: 12px;
    color: var(--accent-cl);
  }
  .benefits-img {
    margin: 0 auto;
  }
}
/* ==================------------ TABLET -----------=================== */
@media screen and (min-width: 768px) {
  /* ---------------------- HEADER ---------------------------- */

  .header {
    padding: 17px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    font-size: 10px;
    color: var(--white-cl);
  }
  .header-logo span {
    color: var(--white-cl);
  }
  .header-logo-svg {
    position: relative;
    margin-right: 4px;
    z-index: 2;
  }

  .logo-icon {
    position: absolute;
    bottom: -6px;
    left: -10px;
    z-index: -1;

    width: 49px;
    height: 45px;
  }

  .header-list {
    display: flex;
    gap: 56px;
  }
  .header-item {
  }
  .header-link {
    font-weight: 400;
    font-size: 14px;
    color: var(--white-cl);
    line-height: 0.9;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--accent-cl);
  }
  .header-btn {
    background-color: transparent;
    border: 0.5px solid var(--white-cl);
    padding: 8px;
    border-radius: 5px;
    min-width: 95px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 0.9;
    color: var(--white-cl);
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-btn:hover,
  .header-btn:focus {
    color: var(--accent-cl);
    border-color: var(--accent-cl);
  }
  .header-btn:hover .header-btn-icon,
  .header-btn:focus .header-btn-icon {
    fill: var(--accent-cl);
  }
  .header-btn-icon {
    fill: var(--white-cl);
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu {
    display: none;
  }
  .mob-btn-open {
    display: none;
  }

  /* ---------------------- HERO ------------------------- */
  .hero {
    background-image: url(../img/bg_img_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 438px;
    padding-top: 150px;
    padding-bottom: 74px;
  }
  .hero-title {
    font-weight: 800;
    font-size: 24px;
    color: var(--white-cl);
    text-align: center;
    margin-bottom: 16px;
  }
  .hero-subtitle {
    color: var(--white-cl);
    text-align: center;
    margin-bottom: 34px;
  }
  .hero-form-wrap {
    display: flex;
    gap: 24px;
    background-color: var(--white-cl);
    border-radius: 5px;
    padding: 12px 16px;
    margin-bottom: 24px;
  }
  .hero-form-search,
  .hero-form-choise {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .hero-form-input {
    border: none;
    width: 100%;
  }
  .hero-form-input::placeholder {
    font-size: 16px;
    line-height: 0.91;
    color: var(--txt-cl);
    padding-left: 8px;
  }
  .hero-input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-form-search::after,
  .hero-input-wrap::after,
  .hero-form-start::after {
    content: "";
    position: relative;
    width: 0.5px;
    height: 39px;
    background-color: var(--accent-cl);
  }
  .hero-form-date {
    font-weight: 400;
    font-size: 16px;
    color: var(--txt-cl);

    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-form-start {
    display: flex;
  }
  .hero-form-start::after {
    display: flex;
  }
  .hero-form-end {
    padding-left: 20px;
  }
  .hero-form-date::-webkit-calendar-picker-indicator {
    order: -1;
    margin-right: 12px;
    margin-bottom: 2px;
    color: transparent;
    background: none;
    background-image: url(../img/calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
  }

  .hero-form-choise-list {
    font-weight: 400;
    font-size: 16px;
    color: var(--txt-cl);

    width: 100%;
    height: 28px;
    border: none;
  }
  .hero-btn {
    border-radius: 5px;
    padding: 12px 28px;
    min-width: 192px;
    display: block;
    margin: 0 auto;
    background-color: var(--accent-cl);

    font-family: var(--main-font);
    font-weight: 600;
    font-size: 15px;
    line-height: 0.91;
    color: var(--white-cl);
  }

  /* ------------------------ BENEFITS ------------------------------ */

  .benefits {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .benefits-list {
  }
  .benefits-item {
    display: flex;
    align-items: center;
    gap: 33px;
  }
  @media screen and (max-width: 1239px) {
    .benefits-item:nth-child(3) {
      gap: 0;
    }
    .benefits-item:not(:last-child) {
      margin-bottom: 48px;
    }
  }
  .benefits-item:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .benefits-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 0.91;

    margin-bottom: 16px;
  }
  .benefits-text {
    font-weight: 300;
    line-height: 1.7;
    max-width: 446px;
  }
  /* .hidden-text-mob {
    display: block;
  } */
  .open-text {
    display: none;
  }
  /* Пока что такие размеры, пока не подключил picture */
  .benefits-img {
    width: 249px;
    height: 249px;
  }
  .benefits-img-lg {
    width: 292px;
    height: 196px;
  }
}

/* ==============================------------ DESKTOP ----------================================== */

@media screen and (min-width: 1240px) {
  .header {
    padding: 17px 0;
  }
  .header-logo {
    font-size: 12px;
  }
  .header-list {
    gap: 171px;
  }
  .header-link {
    font-size: 16px;
  }
  .header-btn {
    min-width: 102px;
    font-size: 16px;
  }

  /* ----------------------------- HERO -------------------------------- */
  .hero {
    height: 1080px;
    padding-top: 316px;
    padding-bottom: 436px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-subtitle {
    font-size: 24px;
    margin-bottom: 43px;
  }
  .hero-form-wrap {
    gap: 40px;
    justify-content: center;
    padding: 17px 40px;
    margin-bottom: 40px;
  }
  .hero-form-search::after,
  .hero-input-wrap::after,
  .hero-form-start::after {
    height: 48px;
  }

  .hero-form-date,
  .hero-form-choise-list,
  .hero-form-input::placeholder {
    font-size: 18px;
  }
  .hero-form-end {
    padding-left: 40px;
  }

  .hero-form-date::-webkit-calendar-picker-indicator {
    background-size: 26px 26px;
  }
  .hero-btn {
    padding: 24px 32px;
    min-width: 232px;

    font-weight: 800;
    font-size: 18px;
  }
  /* ------------------------ BENEFITS ------------------------------ */
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .benefits-item {
    gap: 43px;
  }
  .benefits-item:nth-child(2n) {
    gap: 125px;
  }
  .benefits-title {
    font-size: 32px;
    margin-bottom: 38px;
  }
  .benefits-text {
    font-size: 15px;
    max-width: 505px;
  }
  /* Пока что такие размеры, пока не подключил picture */
  .benefits-img {
    width: 399px;
    height: 399px;
  }
  .benefits-img-lg {
    width: 576px;
    height: 385px;
  }
}
